.main-box {
  width: 1200px;
  margin: 0 auto;
}
.beyond-bidin{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.page {
  min-height: 300px;
}

/* ============= quill-editor样式开始 ============== */

.ql-toolbar {
  position: sticky;
  top: 60px;
  z-index: 66;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border-color: #d8d8d8;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  color: #999;
}

/* ============= quill-editor样式结束 ============== */

.submit-box .ivu-checkbox-inner {
  border-radius: 50%;
}


/* ============== 问答轮播图原点样式 ================  */

.right-top .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}


/* =============== 评论输入框 ==================== */
.comment-input-wrap .ivu-input {
  border: 1px solid #ff3c00;
}

/* ============== 定制服务弹出框样式 ============== */

.service-box .ivu-modal-content {
  padding: 30px;
}

.service-box .ivu-modal-header {
  padding: 0 0 15px;
  border-bottom-color: #d9d9d9;
}

.service-box .ivu-modal-footer {
  border-top: none;
  padding: 0;
}

.service-box .ivu-modal-close {
  top: 23px;
  right: 23px;
}

.service-box .ivu-modal-body {
  padding: 16px 0;
}

.service-box .ivu-form-item-label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.service-box input {
  width: 240px;
}

.service-box .ivu-modal-footer button + button {
  margin-left: 40px;
}

.service-box .ivu-btn {
  padding-left: 26px;
  padding-right: 26px;
}

/* ===================== 发布项目表单样式 =================== */

.publish-project-form .ivu-form-item-label {
  font-size: 16px !important;
}

/* ===================== 视频弹出框样式 =================== */
.video-modal .ivu-modal-content {
  border-radius: 0;
}

.video-modal .ivu-modal-body {
  padding: 0;
}

/* ===================== 首页搜索输入框样式 =================== */
.main-content-left-search .ivu-input-group-large .ivu-input {
  height: 42px;
}
.badge-sty {
  top: 5px;
  line-height: 10px;
  height: 13px;
  border-radius: 5px;
}
/* ===================== 阻止选中文本 =================== */
.user-select-none {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
 }
 .ivu-select-dropdown {
   max-height: 320px;
 }